<!doctype html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Products</h1>
    </header>
    <div class="container">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>Rs. {{ product.price }}</td>
                <td><a href="/order/{{ product.id }}">Order</a></td>
            </tr>
            {% endfor %}
        </table>
        <a href="/">Home</a>
    </div>
</body>
</html>
